<%= form_with model: @post do |f| %>
	<%= render 'posts/error', resource: f.object%>
	<div id="title">
		<%= f.label :title %>
		<%= f.text_field :title, placeholder: 'название' %> <br>
	</div>
	<div id="body">
		<%= f.label :body %>
		<%= f.text_area :body %><br>
		<%= f.submit %><br>
		<%= link_to 'Back', posts_path%>
	</div>
<% end %>
