<%= @post.title%><br>
<h3>Comments: </h3>
<% @post.comments.each do |comment| %>
  <%= comment.body %><br>
<% end %>
<%= form_with model: [@post, @comment] do |f| %>
	<%= render 'posts/error', resource: f.object%>
	<%= f.label :body %>
	<%= f.text_area :body %><br>
	<%= f.submit %>
<% end %>
