
  <%= @post.title%><br>
  <h3>Comments: </h3>
  <div id='post'>
    <%= render partial: 'posts/post_comments', locals:{post: @post}%>
  </div>
  <% if @post.users.member.include? current_user %>
    <%= render partial: 'comments/form', locals: { commentable: @post } %>
    <%= link_to 'Remove member', remove_member_post_path, data:{turbo_method: :post} %>
  <% else %>
    <%= link_to 'Member', create_member_post_path, data:{turbo_method: :post} %>
  <% end %>

  <br>
  <br>
  <h3>Author:  <%= @post.author.email%><br></h3>
  <%= link_to 'Back', posts_path%>
