<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p id='notice' class="notice"><font color="green"><%= notice %></p></font>
    <p id='alert' class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, data:{ turbo_method: :delete } %>
      <% end %><br>
    <%= Time.now %><br>
    <%= yield %>
    <%= turbo_frame_tag :modal %>
  </body>
</html>
